html,
body {
    font-family: 'Poppins';
    margin: 0;
}

/* header */
.header-text2 {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 120%;
    color: white;
    font-weight: 300;
    width: 100%;
}

.header-text1 {
    position: absolute;
    color: white;
    font-weight: 700;
    width: 100%;
    margin: 0;
    padding: 0;

}

.container {
    position: relative;
    text-align: center;
}

a.down {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* images */
.header {
    width: 100%;

}


.small {
    display: block;
}

.big {
    display: none;
}
.logo {
    position: absolute;
    width: 110px;
    left: 4%;
    top: 0px;
    margin: 0px;
}

.negative {
    position: fixed;
    top: 10px;
    left: 4%;
    z-index: 1;
}

.container-photos img {
    max-width: 90%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.container a img {
    width: 10%;
}


/* navigation - #menu */
nav#menu {
    position: absolute;
    right: 6%;
    z-index: 1;
    font-style: italic;
    text-align: right;
    width: 100%;

}

nav#menu.negativeNav  {
    position: fixed;
    top: 0%;
    left: 0%;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: white;

}

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;

}

nav#menu.negativeNav div.navigation-portrait a {
    color: black;
}

a:hover {
    opacity: 0.5;
    transition: 1s;
}

nav#menu div.navigation-portrait a {
    padding: 2%;
    font-size: 80%;
    width: 100%;
}

nav#menu div.navigation-portrait a.selected {
    color: #be5429;
}

.overlay-content a.selected {
     color: #be5429;
}

/* NAVIGATION */
/* home page */
nav {
    position: absolute;
    top: 3%;
    z-index: 1;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: right;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

nav a {
    padding: 15px;
    font-size: 80%;
    width: 100%;
}

a:hover {
    opacity: 0.5;
    transition: 1s;
}

.navigation {
    padding-top: 10px;
    padding-right: 40px;
    display: none;
}

.navigation-portrait {
    display: none;
}



/* OVERLAY MENU */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0%;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
}

.overlay-content {
    position: relative;
    top: 100px;
    text-align: center;
}

a.color {
    color: white;
}
.overlay a {
    padding: 9px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #c4c4c4;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 30px;
    font-style: normal;
    width: 2%;
}

.burgermenu {
    width: 27px;
    float: right;
    padding-right: 25px;
    display: none;
    padding-top: 10px;
}

.burgermenu-portrait {
    width: 27px;
    float: right;
    padding-right: 25px;
    display: block;
    padding-top: 5px;
}


/* article with photos representing categories */
.title-question {
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 15px;
}

div.container-photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
    padding-left: 4%;
    padding-right: 4%;
}

.container-photos a {
    position: relative;
    text-align: center;
    cursor: pointer;
    border: none;
    background: none;
}

.container-photos a:hover {
    transform: scale(1.1);
    opacity: 0.8;
    transition: 1s;
}

.categories-text {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-style: italic;
    font-size: 170%;
    font-weight: 700;
}


/* FOOTER */
footer {
    background-color: black;
    color: white;

    /* grid for the footer */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "contact about join follow"
        ". copyright copyright .";
}

.contact {
    grid-area: contact;
}

.about {
    grid-area: about;
}

.join {
    grid-area: join;
}

.follow {
    grid-area: follow;
}

.copyright {
    grid-area: copyright;
    font-size: 10px;
    text-align: center;
    font-style: italic;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.footer-title {
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding-top: 17px;
    padding-bottom: 4px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: default;
}

.sub-text {
    font-size: 10px;
    text-align: center;
    margin: 0;
    padding-bottom: 3px;
    cursor: default;
}

.sub-text1 {
    font-size: 10px;
    text-align: center;
    margin: 0;
    padding-bottom: 3px;
    cursor: default;
}

.sub-text1:hover {
    color: #5bd3fa;
    transition: 1s;
}

/*filter*/

button.filter {
    position: fixed;
    left: 160px;
    top: 20px;
    z-index: 1;
    font-style: italic;
    background: none;
    color: gray;
}

button.filter:hover {
    opacity: 0.5;
    background: none;
}

.filter-content {
    width: 100%;

    position: fixed;
    background-color: white;
    top: 5%;
    padding-left: 4%;
    padding-top: 5%;
    padding-bottom: 1%;
}

.filter-content a {
    color: gray;
    font-size: 70%;
    padding-left: 2%;
    padding-right: 2%;
}

.filter-button {
    background: none;
    color: gray;
    transform: translateX(-20%);
}

.filter-button:hover {
    background: none;
    opacity: 0.5;
}

/* template */
article {
    color: black;
    margin-top: 15%;
    text-align: center;
}


main {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    padding: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.hideMain {
    display: none;
}

p.lensType {
    font-size: 90%;
}

h2.name {
    font-size: 110%;
    line-height: 130%;
}

h3 {
    font-size: 100%;
    text-transform: uppercase;
}

button {
    background-color: #5bd3fa;
    border: none;
    color: white;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 80%;
    cursor: pointer;
}

button:hover {
    background-color: #be5429;
    transition: 1s;
}

img.image {
    width: 70%;
}

/* modal */
.modal-content {
    background-color: white;
    color: black;
    width: 80%;
    height: auto;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 0%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
    animation: fadeIn 2s forwards;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-longDescription {
    line-height: 130%;
}

.modal-content p {
    font-size: 70%;
    text-align: left;


}

.modal-name {
    text-align: left;
    line-height: 120%;
}

.modal-content h3 {
    text-align: left
}

.modal-button {
    position: fixed;
    color: black;
    right: 0%;
    top: 0.1%;
    border: none;
    font-size: 150%;
    cursor: pointer;
    background: none;
    z-index: 1;
}

.modal-button:hover {
    color: white;
    position: fixed;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(1, 1, 1, 0.8);
    z-index: 1;
}

.modal-image {
    max-width: 60%;

}

.hide {
    display: none;
}

.header-text {
    font-size: 100%;
}

.title-question {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "contact"
        "about"
        "join"
        "follow"
        "copyright";
}

.contact {
    grid-area: contact;
}

.about {
    grid-area: about;
}

.join {
    grid-area: join;
}

.follow {
    grid-area: follow;
}

.copyright {
    grid-area: copyright;
}

/* media query */


@media (min-width: 400px) {
    .header-text2 {

        top: 60%;
}

    .small {
        display: none;
    }

    .big {
        display: block;
    }

    .burgermenu {
        display: block;
    }

    .burgermenu-portrait {
        display: block;
    }

    .navigation {
        display: none;
    }

    .navigation-portrait {
        display: none;
    }

}

@media (min-width: 600px) {
    .modal-content {
        display: grid;
        grid-gap: 2em;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "image-area text-area";
        padding-top: 5%;
    }

    .container1 {
        grid-area: text-area;
    }

    .modal-image {
        grid-area: image-area;
        max-width: 90%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
      .header-text2 {
        font-size: 160%;
        top: 70%;
}

    footer {
    background-color: black;
    color: white;

    /* grid for the footer */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "contact about join follow"
        ". copyright copyright .";
}

.contact {
    grid-area: contact;
}

.about {
    grid-area: about;
}

.join {
    grid-area: join;
}

.follow {
    grid-area: follow;
}
      .filter-content {
        top: 3%;
    }
}

@media (min-width: 800px) {

  .header-text2 {
    font-size: 200%;
    top: 68%;
}

}

@media (min-width: 1000px) {

  .header-text2 {
   font-size: 250%;
        top: 75%;
}

    .burgermenu {
        display: none;
    }

    .burgermenu-portrait {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation-portrait {
        display: block;
    }

}

@media (min-width: 1100px) {
     .filter-content {
        top: 2%;
    }
}
